<div class="navi" state="on">
    <nav class="menu">
        <div class="row">
            <div class="logo">
                <div class="logo-left">
                    <div class="logo-ico">
                        <img src="http://placehold.it/40x40" alt="" width="100%">
                    </div>
                    <div class="logo-text">
                        KL<strong>Insight</strong>
                    </div>
                </div>
                <div class="logo-right">
                    <a href="#menu-on-off" state="on">
                        <div class="menu-on-off">
                            <div class="palka"></div>
                            <div class="palka"></div>
                            <div class="palka"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <ul>
            <li><a href="#">Аналитика<span class="badge">5</span></a></li>
            <li><a href="#">Алгаритмы<span class="badge">5</span></a></li>
            <li><a href="#">Методологии<span class="badge">5</span></a></li>
            <li><a href="#">Программирование<span class="badge">5</span></a></li>
            <li><a href="#">Продажи<span class="badge">5</span></a></li>
            <li><a href="#">Окружение<span class="badge">5</span></a></li>
        </ul>
        <hr>
        <ul>
            <li><a href="#">Об авторе</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Ежедневник</a></li>
        </ul>
        <hr>
        <div class="search">
            <div class="form-wrapper">
                <div class="insert-search-wrapper">
                    <div class="insert-search">Найти:</div>
                </div>
                <div class="input-search-wrapper">
                    <div class="write-search-wrapper">
                        <input type="search" placeholder="Что ищем?">
                    </div>
                </div>
                <div class="input-search-button-wrapper">
                    <button type="button" calss="btn-success"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div class="profile">
            <div class="profile-wrapper">
                <div class="profile-img">
                    <div class="profile-overflow-img">
                        <img src="http://placehold.it/50x50" alt="" width="100%">
                    </div>
                </div>
                <div class="profile-nlp">
                    <div class="profile-nick">djfaber</div>
                    <div class="profile-profile"><a href="">
                            <small>Профиль</small>
                        </a></div>
                    <div class="profile-logout"><a href="">
                            <small>Выйти</small>
                        </a></div>
                </div>
            </div>

        </div>
    </nav>

</div>